@import "tailwindcss";
:root
{
  --primary : #5300a0;
  --dark: #7e22ce;
}
/* Define your custom theme colors directly in CSS! */
@theme {
  --color-gad-primary: var(--primary);
  --color-gad-dark: var(--dark);
  --color-gad-accent: #db2777;
  --color-gad-accent-dark: #be185d;
  
  --color-bg-base: #f9fafb;
  --color-text-main: #1f2937;
}

/* Apply your base background and text colors globally */
@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-main);
  }
}